.sidebar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .sidebar-imagen {
    margin-right: 20px;
  }
  
  .sidebar-imagen img {
    max-width: 200px;
    height: auto;
  }
  
  .sidebar-contenido {
    flex: 1;
  }